@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html,
body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .icon-button {
    @apply p-2 rounded-lg hover:bg-gray-100 transition-colors;
  }
}
